@import url("fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply w-screen overflow-x-hidden;
  @apply scroll-smooth;
}

body {
  @apply bg-slate-900 font-firacode text-slate-50;
}

a {
  color: inherit;
  text-decoration: none;
}

.nuxt-icon svg {
  margin-bottom: 0 !important;
}

.animated {
  @apply translate-y-8 opacity-0;
  @apply transition-all duration-500 ease-out;
}

.animated.show {
  @apply translate-y-0 opacity-100;
}
